<h2>movies</h2>
{{#each results}}
  <div>
    <h3>{{this.name}}</h3>
  </div>
{{/each}}

<div class="container text-center">
    <div class="title">
        <h1>List of Movies</h1>
    </div>
    <div class="container text-center">
        <div class="row align-items-start">
            {{#each movies}}
            <div class="col-6 p-2">
                <div class="card text-dark bg-light p-3">
                    <p class="card-text"> <span>Title:</span> {{this.title}} &#128204</p>
                    <p class="card-text"> <span>Genre:</span> {{this.genre}} &#127752</p>
                    <p class="card-text"> <span>Plot:</span> {{this.plot}}</p>
                    <p class="card-text"> <span>Cast:</span> {{this.cast}} &#128206</p>
                    <div class="container p-3">
                        <a href="/movies/{{id}}/edit" class="link-success linkT">Edit</a>
                        <a href="/movies/{{id}}" class="link-primary linkT">See More</a>
                    </div>
                    <form action="/movies/{{id}}/delete" method="POST">
                        <button type="bnt btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="container mt-3">
        <a href="/" class="buttonBack"> &#10094 Back</a>
    </div>
</div>